body {
  font-family: futura, arial, sans-serif;
  background-color: #aaf;
  text-align: center;
}

#page {
  width: 100vw;
  max-width: 500px;
  min-height: 100vh;
  padding: 10px;
  background-color: #ddd;
  text-align: left;
}

#title {
  font-size: 2em;
  width: 100%;
  text-align: center;
}
